@font-face {
    font-family: RobotFont;
    src: url("fonts/SFTransRobotics.ttf")
}
input{
    /*background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);*/
    background-color: #ff4b45;
    border-width: 0em;
    color: white;
    font-size: 110%;
    transition: 0.2s;
    box-shadow: 0 0 20px #ff4b45;
}
input::placeholder{
    font-family: RobotFont;
    color: white;
}
input, select, textarea{
    color: #ffffff;
}
label{
    font-size: 110%;
}
div{
    text-align: center;
}
body{
    letter-spacing: 0.1em;
    font-family: RobotFont;
    text-align: center;
    background-image: linear-gradient(0deg, #D31027 0%, #EA384D  51%);
    color: rgba(255, 255, 255, 0.8);

}
hr{
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
}
h1{
    font-size: 250%;
}

p.MainMessage{
 font-size: 200%;
}



.registerbtn {

    font-family: RobotFont;
    border-width: 0rem;
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
    text-align: center;
    padding: 15px 44px;
    transition: 0.2s;
    background-size: 200% auto;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0rem 0rem 15px #ff4b45;
    border-radius: 10px;

}

.registerbtn:hover {
    background-position: right center; /* change the direction of the change here */
    box-shadow: 0rem 0rem #ff4b45;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}