<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <link href="{{ url_for('static', filename='privacyPolicy.css') }}" rel="stylesheet">
</head>
<body>
<div class="nav-div-main">
    <p class="nav-main"><a href="index">back to main page</a></p>
</div>

<h1>Privacy Policy</h1>

<br class="seporator">
<p>Please note that this was not written by a lawyer, accept this privacy policy as is.<br> some things may be overlooked if you have any further questions please <a href="mailto:g_computer_h03@yahoo.com">contact me.</a></p>
<dl class="main-content" id="main-cnt">
    <p>IMPORTANT NOTICE: By using our services you accept this privacy policy as is.</p>
    <li>Information gathered:</li>
    <dd id="bt_Inf_Stored_usage_of_information">All entries stored on our servers are for your eyes only.<br> Other users do not have access to your entries, however, for debug and development reasons we<br>
        may go over information provided by our users inorder to <a href="#Inf_Stored_usage_of_information">ensure the integrity of the service we provide</a>.
    </dd>
</dl>
<ul>
    <li id="Inf_Stored_usage_of_information">No information provided by our users is used for our own purposes other than testing, debugging and<br> further developing of our services.<br>
        We will not intentionally release any information gathered by us to a third party.
        <a href="#main-cnt">back</a>
    </li>
</ul>
</body>
</html>